﻿body {
    background: #F5F5F5 !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto !important;
}

.body-content {
    background: #fff;
    max-width: 100%;
    display: block;
    min-height: 500px;
    margin: 0 auto;
    overflow: hidden;
    /*box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);*/
    /*-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);*/
    /*-moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}


.list-recent-tag {
    margin-top: 5px;
}

    .list-recent-tag span {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        float: left;
        border: 1px solid #c4c4c4;
        display: inline !important;
        font-size: 14px;
        padding: 3px 3px;
        color: #999999;
        display: inline-block;
        margin: 2px;
    }

        .list-recent-tag span:hover {
            background: #ccfef9;
        }



.item_doctor_assign {
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

    .item_doctor_assign:hover {
        background: #ccfef9;
    }

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
}

.booking > .tab-content {
    margin-left: 170px !important;
}

.mgrbooking .tab-pane {
}

.mgrbooking .nav-tabs {
    padding: 0px;
    margin-top: 10px !important;
    padding-bottom: 29px !important;
}

    .mgrbooking .nav-tabs li {
        list-style: none;
    }

        .mgrbooking .nav-tabs li a {
            padding: 10px !important;
        }


.item_booking {
    line-height: 30px;
    list-style: none !important;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .item_booking.active {
        background: #F5F5F5;
    }

    .item_booking:hover {
        background: #F5F5F5;
    }

.img-avatar {
    object-fit: cover !important;
    object-position: center !important;
}


.ui-dialog {
}

    .ui-dialog .ui-dialog-titlebar-close span {
        margin: 0px !important;
    }

    .ui-dialog .ui-button-text {
        background: transparent;
    }

/*Css loadding ajax*/
.modalloading {
    display: none;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(88, 88, 88, 0.8);
}

    .modalloading div {
        z-index: 5000;
        position: fixed;
        top: 30%;
        background: #e5eff1;
        padding: 10px;
        font-weight: bold;
        width: 200px;
        border-radius: 10px;
        text-align: center;
        left: 50%;
        margin-left: -100px !important;
    }

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden !important;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modalloading {
        display: block !important;
    }


.layout-header {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    -moz-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    background: #FFF;
}


.btn-tag {
    font-weight: bold;
    color: #FFF !important;
    font-weight: bold !important;
    background: #00852b;
}

    .btn-tag.active {
        color: #00852b !important;
        font-weight: bold !important;
        background: #e2e2e2;
    }

    .btn-tag:focus {
        color: #FFF !important;
    }

        .btn-tag:focus.active {
            color: #00852b !important;
        }


.select2-selection {
    height: 32px !important;
}

.single-line {
    border: 1px solid black;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
}

.tag [data-role=remove] {
    padding-top: 6px !important;
    height: 16px !important;
    width: 16px !important;
}

.smart-form label.error {
    font-size: 10px !important;
    color: #ff8282;
}

.bootstrap-tagsinput {
    width: auto;
}

    .bootstrap-tagsinput > input {
        width: 100% !important;
        display: block;
        margin-left: 1px;
        margin-bottom: 1px;
    }


body, div, a, input, span, p, b, td, th, .btn {
    font-family: 'Open Sans', sans-serif;
}

.smart-form input.error {
    font-size: 13px !important;
}

.bootstrap-tagsinput input {
    border: transparent !important;
}

#list-suggest-box-search {
    overflow: hidden;
}


.select2 span {
    text-align: left;
}


.box-title {
    padding: 8px 5px;
    background: #159b90;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #FFF;
}
#sidebar-left > li.active > a, #sidebar-left > li.active > a:focus, #sidebar-left > li.active > a:hover {
    color: #fff;
    background-color: #3db9af !important;
}

#sidebar-left li {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

    #sidebar-left li i {
        margin-right: 5px;
    }

.btn-primary {
    color: #fff;
    background-color: #3db9af;
    border-color: #3db9af;
}