﻿@model dynamic

@{
    ViewBag.Title = "VNC";
    Layout = null;
}
<html>
<head>
    <title>VNCApplication</title>
    <meta property="fb:app_id" content="132869150705829" />
    <meta property="al:android:package" content="com.team500ae.vncapplication" />
    <meta property="al:android:app_name" content="iDuhoc" />
    <meta property="al:android:url" content="vnc://deeplink" />
    <meta property="al:web:should_fallback" content="false" />
    <meta http-equiv="refresh" content="0;url=http://play.google.com/store/apps/details?id=com.team500ae.vncapplication" />
</head>
<body>
    Redirecting...
</body>
</html>