﻿@using BaseLibrary.Common
@model VNCApp.Database.Translators.Translator.Translator
<div ng-controller="createTranslatorController" ng-init="loadListType(1)" id="createTranslatorController" data-translator="@(Model?.Serialize() ?? "{}")" >

    <div class="alert alert-info fade in">
        <strong>@(Model == null ? "TẠO MỚI BẢN DỊCH TIẾNG ANH" : "CHỈNH SỬA BẢN DỊCH TIẾNG ANH")</strong>
    </div>
    <form class="smart-form" id="add-translator-form" ng-validate="validationOptions">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Tiếng Việt</strong></label>
                    <label class="input">
                        <input type="text" id="txtTitle" name="title" placeholder="Nhập nội dung" maxlength="150" ng-model="translator.ContentVN">
                    </label>
                </section>
                <hr class="simple" />
                <section>
                    <label class="label"><strong>Tiếng Anh</strong></label>
                    <label class="input">
                        <input type="text" id="txtTitle2" name="title2" placeholder="Nhập nội dung" maxlength="150" ng-model="translator.ContentEN">
                    </label>
                </section>
                <hr class="simple" />
                
              
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Chuyên mục</strong></label>
                    <label class="input">
                        <select ui-select2 ng-model="translator.Type" style="width: 100%;" name="type">
                            <option selected="selected" disabled="disabled" value="">Chọn chuyên mục</option>
                            <option ng-repeat="type in listType" value="{{type.ID}}">{{type.Name}}</option>
                        </select>
                    </label>
                </section>
            </div>
        </div>
        <footer>
            <button class="btn btn-success" ng-click="submit()">Lưu</button>
        </footer>   
    </form>
</div>
<script>
    $(document).ready(function () {
        var scope = angular.element("#createTranslatorController").scope();
        scope.translator = $("#createTranslatorController").data("translator");
    });
</script>
<style>
    .bootstrap-tagsinput input {
        border: none !important;
    }

    .bootstrap-tagsinput .tag {
        display: inline-block;
        color: #FFF;
        line-height: 14px;
    }

    .bootstrap-tagsinput span[data-role="remove"] {
        width: 17px !important;
        height: 17px !important;
    }
</style>