﻿@model dynamic

@{
    Layout = null;
}

<div ng-controller="translatorController" ng-init="loadListType(1);loadPage(1)">
    <a href="#/admin/mgrtranslatorenglish/create" class="btn btn-default pull-right">Tạo mới</a>
    <div class="input-group">
        <input class="form-control" placeholder="Search for" ng-model="keyword" ng-change="loadPage(1)" ng-model-options="{debounce: 750}">
    </div>
    <table class="table table-bordered table-responsive" ng-init="type=1">
        <tr>
            <th>
                #
            </th>
            <th>Tiếng Việt</th>
            <th>Tiếng Anh</th>
            <th>Chuyên mục</th>
            <th>Ngày tạo</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in data">
            <td>
                {{$index +1}}
            </td>
            <td>
                {{item.ContentVN}}
            </td>
            <td>
                {{item.ContentEN}}
            </td>
            <td>
                <select ng-model="item.Type" style="width: 100%;" disabled="disabled">
                    <option ng-repeat="itemType in listType" ng-value="{{itemType.ID}}">
                        {{itemType.Name}}
                    </option>
                </select>
            </td>
            <td>
                {{item.CreatedDate.getPostTime()}}
            </td>
            <td>
                @*<a href="javascript:void(0);" ng-click="view(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-eye fa-lg"></i></a>*@
                <a href="javascript:void(0);" ng-click="edit(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-edit fa-lg"></i></a>
                <a href="javascript:void(0);" ng-click="remove(item)" class="btn btn-xs btn-default" style="color: #f55972;"><i class="fa fa-times fa-lg"></i></a>
            </td>
        </tr>
    </table>
    <div id="paging">
        <ul class="pagination pull-right">
            <li ng-click="loadPage(1)" class="{{page==1?'disabled':''}}">
                <a href="javascript:void(0);">Trang đầu</a>
            </li>
            <li ng-repeat="itemPage in listPage" class="{{page==itemPage?'active':''}}"
                ng-click="loadPage(itemPage)">
                <a href="javascript:void(0);">{{itemPage}}</a>
            </li>
            <li ng-click="loadPage(totalPage)" class="{{page==totalPage?'disabled':''}}">
                <a href="javascript:void(0);">Trang cuối</a>
            </li>
        </ul>
    </div>
</div>
