﻿@using BaseLibrary.Common
@model VNCApp.Database.Tips.Tips.Tip
<div ng-controller="createTipsController" id="createTipsController" data-tips="@(Model?.Serialize() ?? "{}")">

    <div class="alert alert-info fade in">
        <strong>@(Model == null ? "TẠO MỚI LỜI KHUYÊN" : "CHỈNH SỬA LỜI KHUYÊN")</strong>
    </div>
    <form class="smart-form" id="add-tips-form" ng-validate="validationOptions">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Tiêu đề</strong></label>
                    <label class="input">
                        <input type="text" id="txtTitle" name="title" placeholder="Tiêu đề lời khuyên" maxlength="150" ng-model="tips.Title">
                    </label>
                    <label class="note">Nhập tối đa 150 ký tự</label>
                </section>
                <hr class="simple" />
                <section>
                    <label class="label"><strong>Chuyên mục</strong></label>
                    <label class="input">
                        <select ui-select2 ng-model="tips.Type" style="width: 100%;" name="type">
                            <option selected="selected" disabled="disabled" value="">Chọn chuyên mục</option>
                            <option ng-repeat="type in listType" value="{{type.ID}}">{{type.Name}}</option>
                        </select>
                    </label>
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Văn bản xem trước</strong></label>
                    <label class="textarea">
                        <textarea name="contentpreview" id="txtContentPreview" placeholder="Nhập nội dung văn bản xem trước" maxlength="500" rows="5" ng-model="tips.SubContent"></textarea>
                    </label>
                    <label class="note">Nhập tối đa 500 ký tự</label>
                </section>
                <hr class="simple" />
                <section>
                    <label for="file1" class="input input-file" style="margin-top: 10px; ">
                        <div class="button" style="margin-top: 1px;">
                            <input type="file" id="select-file-image-cover" accept="image/x-png,image/gif,image/jpeg" name="file1" ng-file-change="selectImage" ng-model="imagePreview">Chọn
                        </div>
                        <input type="text" style="padding-right: 80px !important;" placeholder="Chọn file ảnh" readonly="" ng-model="fileSelected" />
                    </label>
                    <img style="max-width: 100%;  max-height:400px; margin-top: 10px" ng-src="{{tips.Thumbnail}}" />
                </section>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Nội dung lời khuyên</strong></label>
                    <label class="textarea">
                        <textarea ckeditor name="content" ng-model="tips.Content" id="txtContent"></textarea>
                    </label>
                </section>
            </div>
        </div>
        <footer>
            <button class="btn btn-success" ng-click="uploadImage()">Lưu</button>
        </footer>
    </form>
</div>
<script>
    function selectFile(selector) {
        var scope = angular.element($("#add-tips-form")).scope();
        scope.selectFile(selector);
    }
    $(document).ready(function () {
        var scope = angular.element("#createTipsController").scope();
        scope.tips = $("#createTipsController").data("tips");
    });
</script>
<style>
    .bootstrap-tagsinput input {
        border: none !important;
    }

    .bootstrap-tagsinput .tag {
        display: inline-block;
        color: #FFF;
        line-height: 14px;
    }

    .bootstrap-tagsinput span[data-role="remove"] {
        width: 17px !important;
        height: 17px !important;
    }
</style>