﻿@using BaseLibrary.Common
@model VNCApp.Database.News.News.New
@{
    var tag = ViewBag.Tag?.ToString() ?? "";
}
<div ng-controller="createNewsController" id="createNewsController" data-news="@(Model?.Serialize() ?? "{}")" data-tag="@tag">

    <div class="alert alert-info fade in">
        <strong>@(Model == null ? "TẠO MỚI TIN TỨC" : "CHỈNH SỬA TIN TỨC")</strong>
    </div>
    <form class="smart-form" id="add-news-form" ng-validate="validationOptions">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Tiêu đề</strong></label>
                    <label class="input">
                        <input type="text" id="txtTitle" name="title" placeholder="Tiêu đề câu hỏi" maxlength="150" ng-model="news.Title">
                    </label>
                    <label class="note">Nhập tối đa 150 ký tự</label>
                </section>
                <hr class="simple" />
                <section>
                    <label class="label"><strong>Chuyên mục</strong></label>
                    <label class="input">
                        <select ui-select2 ng-model="news.Type" style="width: 100%;" name="type">
                            <option selected="selected" disabled="disabled" value="">Chọn chuyên mục</option>
                            <option ng-repeat="type in listType" value="{{type.ID}}">{{type.Name}}</option>
                        </select>
                    </label>
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Văn bản xem trước</strong></label>
                    <label class="textarea">
                        <textarea name="contentpreview" id="txtContentPreview" placeholder="Nhập nội dung văn bản xem trước" maxlength="500" rows="5" ng-model="news.SubContent"></textarea>
                    </label>
                    <label class="note">Nhập tối đa 500 ký tự</label>
                </section>
                <hr class="simple" />
                <section>
                    <label class="label"><strong>Từ khóa</strong></label>
                    <label class="input">
                        <input class="tagsinput" ng-model="tag" value="@tag" />
                    </label>
                </section>
                <hr class="simple" />
                <section>
                    <label for="file1" class="input input-file" style="margin-top: 10px; ">
                        <div class="button" style="margin-top: 1px;">
                            <input type="file" id="select-file-image-cover" accept="image/x-png,image/gif,image/jpeg" name="file1" ng-file-change="selectImage" ng-model="imagePreview">Chọn
                        </div>
                        <input type="text" style="padding-right: 80px !important;" placeholder="Chọn file ảnh" readonly="" ng-model="fileSelected" />
                    </label>
                    <img style="max-width: 100%;  max-height:400px; margin-top: 10px" ng-src="{{news.Thumbnail}}" />
                </section>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Nội dung tin tức</strong></label>
                    <label class="textarea">
                        <textarea ckeditor name="content" ng-model="news.Content" id="txtContent"></textarea>
                    </label>
                </section>
            </div>
        </div>
        <footer>
            <button class="btn btn-success" ng-click="uploadImage()">Lưu</button>
        </footer>
    </form>
</div>
<script>
    function selectFile(selector) {
        var scope = angular.element($("#add-news-form")).scope();
        scope.selectFile(selector);
    }
    $(document).ready(function () {
        loadScript("/Static/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js", function () {            
            setTimeout(function () {
                var scope = angular.element("#createNewsController").scope();
                scope.news = $("#createNewsController").data("news");
                scope.tag = $("#createNewsController").data("tag");
                scope.$apply();
                $('.tagsinput').tagsinput('refresh');
            }, 1000);
        });
       
    });
</script>
<style>
    .bootstrap-tagsinput input {
        border: none !important;
    }

    .bootstrap-tagsinput .tag {
        display: inline-block;
        color: #FFF;
        line-height: 14px;
    }

    .bootstrap-tagsinput span[data-role="remove"] {
        width: 17px !important;
        height: 17px !important;
    }
</style>