﻿@model dynamic

<div ng-controller="typeLocationController" ng-init="loadPage(1)" id="typeLocation">
    <label class="btn btn-default pull-right" ng-click="showCreateModal()">Tạo mới</label>
    <div class="input-group">
        <input class="form-control" placeholder="Search for" ng-model="keyword" ng-change="loadPage(1)" ng-model-options="{debounce: 750}">
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>
                #
            </th>
            <th>
                ID
            </th>
            <th>Loại địa điểm(VN)</th>
            <th>Loại địa điểm(EN)</th>
            <th>Icon</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in data">
            <td>
                {{$index +1}}
            </td>
            <td>
                {{item.ID}}
            </td>
            <td>
                {{item.Name}}
            </td>
            <td>
                {{item.EnName}}
            </td>
            <td>
                <img ng-src="{{item.Logo}}" width="30" height="30" />
            </td>
            <td>
                <a href="javascript:void(0);" ng-click="changeToUpdateMode(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-edit fa-lg"></i></a>
                <a href="javascript:void(0);" ng-click="remove(item)" class="btn btn-xs btn-default" style="color: #f55972;"><i class="fa fa-times fa-lg"></i></a>
            </td>
        </tr>
    </table>
    <div id="paging">
        <ul class="pagination pull-right">
            <li ng-click="loadPage(1)" class="{{page==1?'disabled':''}}">
                <a href="javascript:void(0);">Trang đầu</a>
            </li>
            <li ng-repeat="itemPage in listPage" class="{{page==itemPage?'active':''}}"
                ng-click="loadPage(itemPage)">
                <a href="javascript:void(0);">{{itemPage}}</a>
            </li>
            <li ng-click="loadPage(totalPage)" class="{{page==totalPage?'disabled':''}}">
                <a href="javascript:void(0);">Trang cuối</a>
            </li>
        </ul>
    </div>

    <div class="modal fade" id="modal-edit-location-type" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{isEditMode?"Chỉnh sửa loại địa điểm":"Thêm mới loại địa điểm"}}</h4>
                </div>
                <form class="smart-form">

                    <fieldset style="max-height:450px; overflow-y:auto">
                        <section class="col col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <label class="label">Tên loại (VN)</label>
                            <label class="input">
                                <input type="text" ng-model="locationType.Name" placeholder="Nhập tên loại địa điểm" />
                            </label>
                        </section>
                        <section class="col col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <label class="label">Tên loại (EN)</label>
                            <label class="input">
                                <input type="text" ng-model="locationType.EnName" placeholder="Nhập tên loại địa điểm" />
                            </label>
                        </section>
                        <section class="col col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <label class="label">Icon</label>
                            <div style="width: 50px; height: 50px; border: 1px dotted; position: relative">
                                <img style="width:50px; height: 50px;object-fit: contain;" ng-src="{{locationType.Logo}}" />
                                <i class="fa fa-times" style="position: absolute; top: 0; right: 0; padding: 5px; cursor: pointer; display:none;" title="Nhấn để bỏ chọn ảnh này" onclick="addAds.removeImage($(this))" id="btn-remove-image"></i>
                            </div>
                            <label for="file" class="input input-file" style="margin-top: 10px; ">
                                <div class="button">
                                    <input type="file" id="select-file-image" accept="image/*" name="file" ng-file-change="selectImage" ng-model="imageLogo">Chọn
                                </div>
                                <input type="text" style="padding-right: 80px !important;" id="text-file-image-name" placeholder="{{locationType.Logo?locationType.Logo:'Chọn file ảnh'}}" readonly="" ng-model="fileSelected" />
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <label class="btn btn-primary" ng-click="save()" style="margin-right: 10px;">
                            <span>Lưu</span>
                        </label>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function selectFile(selector) {
        var scope = angular.element($("#typeLocation")).scope();
        scope.selectFile(selector);
    }
</script>