﻿@using VNCApp.Database.Location.TypeLocation;

@model List<TypeLocation>

@{
    Layout = null;
}

<div ng-controller="locationController" ng-init="loadPage(1)">
    <div class="input-group">
        <input class="form-control" placeholder="Search for" ng-model="searchName" ng-change="loadPage(1)" ng-model-options="{debounce: 750}">
    </div>
    <table class="table table-bordered table-responsive" ng-init="type=1">
        <tr>
            <th>
                #
            </th>
            <th>Tên địa điểm</th>
            <th>Vị trí</th>
            <th>Loại địa điểm</th>
            <th>Người tạo</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
     
        <tr ng-repeat="item in data">
            <td>
                {{$index +1}}
            </td>
            <td>
                {{item.Title}}
            </td>
            <td>
                <a href="javascript:void(0)" ng-click="viewLocation(item.Lat, item.Lon)">Nhấn để xem</a>
            </td>

            <td>
                {{item.TypeName}}
            </td>
            <td>
                {{item.CreatedBy}}
            </td>
            <td>
                {{item.CreatedDate.getPostTime()}}
            </td>
            <td>
                {{item.ApproveDate?"Đã phê duyệt":"Chưa phê duyệt"}}
            </td>
            <td>
                
                <a href="javascript:void(0);" ng-if="!item.ApproveDate" ng-click="approve(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-check fa-lg"></i></a>
                <a href="javascript:void(0);" ng-click="remove(item)" class="btn btn-xs btn-default" style="color: #f55972;"><i class="fa fa-times fa-lg"></i></a>
            </td>
        </tr>
    </table>
    <div id="paging">
        <ul class="pagination pull-right">
            <li ng-click="loadPage(1)" class="{{page==1?'disabled':''}}">
                <a href="javascript:void(0);">Trang đầu</a>
            </li>
            <li ng-repeat="itemPage in listPage" class="{{page==itemPage?'active':''}}"
                ng-click="loadPage(itemPage)">
                <a href="javascript:void(0);">{{itemPage}}</a>
            </li>
            <li ng-click="loadPage(totalPage)" class="{{page==totalPage?'disabled':''}}">
                <a href="javascript:void(0);">Trang cuối</a>
            </li>
        </ul>
    </div>
</div>