﻿@model VNCApp.Database.News.News.New

@{
    ViewBag.Title = "";
    Layout = null;
}

@if (Model != null)
{
    <div class="detail-new">

        <div style="font-weight: bold">@Model.Title</div>
        <div style="text-align: justify">@Html.Raw(Model.Content)</div>
        <style>
            .detail-new img {
                max-width: 100% !important;
                width: 100% !important;
                height: auto !important;
            }
        </style>
    </div>

}
