﻿@model VNCApp.Database.Jobs.Jobs.Job

@{
    ViewBag.Title = "";
    Layout = null;
}

@if (Model != null)
{
    <div class="detail-job">

        <div style="font-weight: bold">@Model.Title</div>
        <div style="text-align: justify">@Html.Raw(Model.Description)</div>
        <style>
            .detail-job img {
                max-width: 100% !important;
                width: 100% !important;
                height: auto !important;
            }
        </style>
    </div>
}
