﻿@using BaseLibrary.Common
@model VNCApp.Database.Jobs.Jobs.Job
<div ng-controller="createJobController" id="createJobController" data-job="@(Model?.Serialize() ?? "{}")">

    <div class="alert alert-info fade in">
        <strong>@(Model == null ? "TẠO MỚI CÔNG VIỆC" : "CHỈNH SỬA CÔNG VIỆC")</strong>
    </div>
    <form class="smart-form" id="add-job-form" ng-validate="validationOptions">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Tiêu đề</strong></label>
                    <label class="input">
                        <input type="text" id="txtTitle" name="title" placeholder="Tiêu đề công việc" maxlength="150" ng-model="job.Title">
                    </label>
                    <label class="note">Nhập tối đa 150 ký tự</label>
                </section>
                <hr class="simple" />
              
                <section>
                    <label class="label"><strong>Quốc gia</strong></label>
                    <label class="input">
                        <select ui-select2 ng-model="job.Country" style="width: 100%;" name="country" ng-change="selectCountry()">
                        @*<select ui-select2 ng-model="job.Country" style="width: 100%;" name="country" >*@
                            <option selected="selected" disabled="disabled" value="">-- Chọn --</option>
                            <option ng-repeat="type in listCountry" value="{{type.ID}}">{{type.Name}}</option>
                        </select>
                    </label>
                </section>
                <hr class="simple" />
                <section>
                    <label class="label"><strong>Tỉnh/Thành phố</strong></label>
                    <label class="input">
                        <select ui-select2 ng-init="loadListCityTemp(job.Country)" ng-model="job.City" style="width: 100%;" name="city">
                            <option selected="selected" disabled="disabled" value="">-- Chọn --</option>
                            <option ng-repeat="type in listCityTemp" value="{{type.ID}}">{{type.Name}}</option>
                        </select>
                    </label>
                </section>
                <hr class="simple" />
                <section>
                    <label class="label"><strong>Chuyên mục</strong></label>
                    <label class="input">
                        <select ui-select2 ng-model="job.Type" style="width: 100%;" name="type">
                            <option selected="selected" disabled="disabled" value="">-- Chọn --</option>
                            <option ng-repeat="type in listType" value="{{type.ID}}">{{type.Name}}</option>
                        </select>
                    </label>
                </section>
                <hr class="simple" />

                

                <section>
                    <label class="label"><strong>Công ty</strong></label>
                    <label class="input">
                        <input type="text" id="txtCompany" name="company" placeholder="Công ty" maxlength="150" ng-model="job.Company">
                    </label>
                </section>
                
                <hr class="simple" />
                <section>
                    <label class="label"><strong>Ảnh đại diện</strong></label>
                    <label for="file1" class="input input-file" style="margin-top: 10px; ">
                        <div class="button" style="margin-top: 1px;">
                            <input type="file" id="select-file-image-cover" accept="image/x-png,image/gif,image/jpeg" name="file1" ng-file-change="selectImage" ng-model="imagePreview">Chọn
                        </div>
                        <input type="text" style="padding-right: 80px !important;" placeholder="Chọn file ảnh" readonly="" ng-model="fileSelected" />
                    </label>
                    <img style="max-width: 100%;  max-height:400px; margin-top: 10px" ng-src="{{job.Thumbnail}}" />
                </section>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">

               
                <section>
                    <label class="label"><strong>Chức vụ</strong></label>
                    <label class="input">
                        <select ui-select2 ng-model="job.Level" style="width: 100%;" name="level">
                            <option selected="selected" disabled="disabled" value="">-- Chọn --</option>
                            <option ng-repeat="type in listLevel" value="{{type.ID}}">{{type.Name}}</option>
                        </select>
                    </label>
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Lương</strong></label>
                    <label class="input">
                        <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="txtSalary" name="salary" placeholder="USD" maxlength="9" ng-model="job.Salary">
                    </label>
                    @*<label class="note">Nhập tối đa 9 ký tự</label>*@
                </section>
                <hr class="simple" />


                <section>
                    <label class="label"><strong>Mô tả công việc</strong></label>
                    <label class="textarea">
                        <textarea name="description" id="txtJobDescription" placeholder="Nhập nội dung" maxlength="500" rows="5" ng-model="job.Description"></textarea>
                    </label>
                    <label class="note">Nhập tối đa 500 ký tự</label>
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Yêu cầu công việc</strong></label>
                    <label class="textarea">
                        <textarea name="requirement" id="txtJobRequirement" placeholder="Nhập nội dung" maxlength="500" rows="5" ng-model="job.Requirement"></textarea>
                    </label>
                    <label class="note">Nhập tối đa 500 ký tự</label>
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Số điện thoại</strong></label>
                    <label class="input">
                        <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');"  id="txtPhone" name="phone"  maxlength="11" ng-model="job.Phone">
                    </label>
                    @*<label class="note">Nhập tối đa 11 ký tự</label>*@
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Email</strong></label>
                    <label class="input">
                        <input type="email" id="txtEmail" name="email"  ng-model="job.Email">
                    </label>
                    @*<label class="note">Nhập tối đa 9 ký tự</label>*@
                </section>
                <hr class="simple" />

               
            </div>
        </div>
        <footer>
            <button class="btn btn-success" ng-click="uploadImage()">Lưu</button>
        </footer>
    </form>
</div>
<script>
    function selectFile(selector) {
        var scope = angular.element($("#add-job-form")).scope();
        scope.selectFile(selector);
    }
    $(document).ready(function () {
        var scope = angular.element("#createJobController").scope();
		scope.job = $("#createJobController").data("job");
		    });
</script>


<style>
    .bootstrap-tagsinput input {
        border: none !important;
    }

    .bootstrap-tagsinput .tag {
        display: inline-block;
        color: #FFF;
        line-height: 14px;
    }

    .bootstrap-tagsinput span[data-role="remove"] {
        width: 17px !important;
        height: 17px !important;
    }
</style>