﻿@model dynamic

@{
    Layout = null;
}

<div ng-controller="jobController" ng-init="loadListType();loadPage(1)">
    <a href="#/admin/mgrjob/create" class="btn btn-default pull-right">Tạo mới</a>
	<div class="input-group">
        <input class="form-control" placeholder="Search for" ng-model="keyword" ng-change="loadPage(1)" ng-model-options="{debounce: 750}">
	</div>
    <table class="table table-bordered table-responsive" ng-init="type=1">
        <tr>
            <th>
                #
            </th>
            <th>Tiêu đề</th>
            <th>Chuyên mục</th>
            <th>Người tạo</th>
            <th>Tên người tạo</th>
            <th>Ngày tạo</th>
            <th>Ngày duyệt</th>
            <th width="10%">Thao tác</th>
        </tr>
        @*<tr>
            <td></td>
            <td>
                <div class="input-group" style="width:100%">
                    <input class="form-control" required ng-model="search.Job.Title">
                </div>
            </td>
            <td></td>
            <td>
                <div class="input-group" style="width:100%">
                    <input class="form-control" required ng-model="search.Job.CreatedBy">
                </div>
            </td>
            <td>
                <div class="input-group" style="width:100%">
                    <input class="form-control" required ng-model="search.CreatedByName">
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@
        <tr ng-repeat="item in data">
            <td>
                {{$index +1}}
            </td>
            <td>
                {{item.Job.Title}}
            </td>
            <td>
                <select ng-model="item.Job.Type" style="width: 100%;" disabled="disabled">
                    <option ng-repeat="itemType in listType" ng-value="{{itemType.ID}}">
                        {{itemType.Name}}
                    </option>
                </select>
            </td>
            <td>
                {{item.Job.CreatedBy}}
            </td>
            <td>
                {{item.CreatedByName}}
            </td>
            <td>
                {{item.Job.CreatedDate.getPostTime()}}
            </td>
            <td>
                {{item.Job.ApproveDate.getPostTime()}}
            </td>
            <td>
                @*<a href="javascript:void(0);" ng-click="view(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-eye fa-lg"></i></a>*@
                <a href="javascript:void(0);"  ng-if="!item.Job.ApproveDate" ng-click="approve(item.Job)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-check fa-lg"></i></a>
                <a href="javascript:void(0);" ng-click="edit(item.Job)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-edit fa-lg"></i></a>
                <a href="javascript:void(0);" ng-click="remove(item)" class="btn btn-xs btn-default" style="color: #f55972;"><i class="fa fa-times fa-lg"></i></a>
            </td>
        </tr>
    </table>
    <div id="paging">
        <ul class="pagination pull-right">
            <li ng-click="loadPage(1)" class="{{page==1?'disabled':''}}">
                <a href="javascript:void(0);">Trang đầu</a>
            </li>
            <li ng-repeat="itemPage in listPage" class="{{page==itemPage?'active':''}}"
                ng-click="loadPage(itemPage)">
                <a href="javascript:void(0);">{{itemPage}}</a>
            </li>
            <li ng-click="loadPage(totalPage)" class="{{page==totalPage?'disabled':''}}">
                <a href="javascript:void(0);">Trang cuối</a>
            </li>
        </ul>
    </div>
</div>
