﻿<ul>
    <li class="" style="display: none">
        <a href="" title=""><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Quản lý</span></a>
    </li>
    <li class="">
        <a href="#" title="Tin tức"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Tin tức</span></a>
        <ul>
            <li class="">
                <a href="#" title="Quản lý tin tức"><span class="menu-item-parent">Quản lý tin tức</span></a>
                <ul>
                    <li class="">
                        <a href="/admin/mgrnews" title="Danh sách"><span class="menu-item-parent">Danh sách</span></a>
                    </li>
                    <li class="">
                        <a href="/admin/mgrnews/create" title="Tạo mới"><span class="menu-item-parent">Tạo mới</span></a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="/admin/mgrtypenews" title="Quản lý chuyên mục"><span class="menu-item-parent">Quản lý chuyên mục</span></a>
            </li>
        </ul>

    </li>
    <li class="">
        <a href="#" title="Tìm việc" ><i class="fa fa-lg fa-fw fa-search"></i> <span class="menu-item-parent">Tìm việc</span><span id="txtJob"/></a>
        <ul>
            <li class="">
                <a href="#" title="Quản lý công việc"><span class="menu-item-parent">Quản lý công việc</span></a>
                <ul>
                    <li class="">
                        <a href="/admin/mgrjob" title="Danh sách"><span class="menu-item-parent">Danh sách</span></a>
                    </li>
                    <li class="">
                        <a href="/admin/mgrjob/create" title="Tạo mới"><span class="menu-item-parent">Tạo mới</span></a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="/admin/mgrtypejob" title="Quản lý chuyên mục"><span class="menu-item-parent">Quản lý chuyên mục</span></a>
            </li>
            <li class="">
                <a href="/admin/mgrjobother/company" title="Quản lý công ty"><span class="menu-item-parent">Quản lý công ty</span></a>
            </li>
            <li class="">
                <a href="/admin/mgrjobother/level" title="Quản lý chức vụ"><span class="menu-item-parent">Quản lý chức vụ</span></a>
            </li>
            <li class="">
                <a href="/admin/mgrjobother/country" title="Quản lý quốc gia"><span class="menu-item-parent">Quản lý quốc gia</span></a>
            </li>
            <li class="">
                <a href="/admin/mgrjobother/city" title="Quản lý thành phố"><span class="menu-item-parent">Quản lý thành phố</span></a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" title="Lời khuyên"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">Lời khuyên</span></a>
        <ul>
            <li class="">
                <a href="#" title="Quản lý lời khuyên"><span class="menu-item-parent">Quản lý lời khuyên</span></a>
                <ul>
                    <li class="">
                        <a href="/admin/mgrtips" title="Danh sách"><span class="menu-item-parent">Danh sách</span></a>
                    </li>
                    <li class="">
                        <a href="/admin/mgrtips/create" title="Tạo mới"><span class="menu-item-parent">Tạo mới</span></a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="/admin/mgrtypetips" title="Quản lý chuyên mục"><span class="menu-item-parent">Quản lý chuyên mục</span></a>
            </li>
        </ul>

    </li>
    <li class="">
        <a href="#" title="Địa điểm"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">Địa điểm</span><span id="txtLocation" /></a>
        <ul>
            <li class="">
                <a href="#" title="Quản lý địa điểm"><span class="menu-item-parent">Quản lý địa điểm</span></a>
                <ul>
                    <li class="">
                        <a href="/admin/mgrLocation" title="Danh sách"><span class="menu-item-parent">Danh sách</span></a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="/admin/mgrtypelocation" title="Quản lý chuyên mục"><span class="menu-item-parent">Quản lý loại địa điểm</span></a>
            </li>
        </ul>

    </li>
    <li class="">
        <a href="#" title="Dịch"><i class="fa fa-lg fa-fw fa-language"></i> <span class="menu-item-parent">Dịch</span></a>
        <ul>
            <li class="">
                <a href="#" title="Tiếng Anh"><span class="menu-item-parent">Tiếng Anh</span></a>
                <ul>
                    <li class="">
                        <a href="/admin/mgrtranslatorenglish" title="Bản dịch"><span class="menu-item-parent">Bản dịch</span></a>
                    </li>
                    <li class="">
                        <a href="/admin/mgrtranslatorenglish/create" title="Tạo mới"><span class="menu-item-parent">Tạo mới</span></a>
                    </li>
                    <li class="">
                        <a href="/admin/mgrtranslatorenglish/type" title="Chuyên mục"><span class="menu-item-parent">Chuyên mục</span></a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" title="Tiếng Đức"><span class="menu-item-parent">Tiếng Đức</span></a>
                <ul>
                    <li class="">
                        <a href="/admin/mgrtranslatorgermany" title="Bản dịch"><span class="menu-item-parent">Bản dịch</span></a>
                    </li>
                    <li class="">
                        <a href="/admin/mgrtranslatorgermany/create" title="Tạo mới"><span class="menu-item-parent">Tạo mới</span></a>
                    </li>
                    <li class="">
                        <a href="/admin/mgrtranslatorgermany/type" title="Chuyên mục"><span class="menu-item-parent">Chuyên mục</span></a>
                    </li>
                </ul>
            </li>
        </ul>

    </li>
    <li class="">
        <a href="#" title="Hỏi đáp"><i class="fa fa-lg fa-fw fa-question-circle"></i> <span class="menu-item-parent">Hỏi đáp</span><span id="txtQuestion" /></a>
        <ul>
            <li class="">
                <a href="/admin/mgrquestion" title="Danh sách câu hỏi"><span class="menu-item-parent">Danh sách câu hỏi</span></a>
            <li class="">
                <a href="/admin/mgrquestion/create" title="Tạo mới câu hỏi"><span class="menu-item-parent">Tạo mới câu hỏi</span></a>
            </li>
        </ul>

    </li>
</ul>
