﻿@model dynamic

@{
	Layout = null;
}



<div ng-controller="typeJobController" ng-init="loadPage(1)">
	<label class="btn btn-default pull-right" ng-click="changeToCreatedMode()">Tạo mới</label>
	<div class="input-group">
        <input class="form-control" placeholder="Search for" ng-model="keyword" ng-change="loadPage(1)" ng-model-options="{debounce: 750}">
	</div>
	<table class="table table-bordered table-responsive">
		<tr>
			<th>
				#
			</th>
			<th>
				ID
			</th>
			<th>Tên chuyên mục (VN)</th>
			<th>Tên chuyên mục (EN)</th>
			<th></th>
		</tr>
		<tr ng-if="createdmode">
			<td></td>
			<td></td>
			<td>
				<input ng-model="tempCreatedItem.Name" />
			</td>
			<td>
				<input ng-model="tempCreatedItem.Name2" />
			</td>
			<td>
				<a href="javascript:void(0);" ng-click="createNew()" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-save fa-lg"></i></a>
				<a href="javascript:void(0);" ng-click="cancelCreate()" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-refresh fa-lg"></i></a>
			</td>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				{{$index +1}}
			</td>
			<td>
				{{item.ID}}
			</td>
			<td>
				<div ng-if="!item.updating">
					{{item.Name}}
				</div>
				<div>
					<input ng-if="item.updating" ng-model="item.tempName" />
				</div>
			</td>
			<td>
				<div ng-if="!item.updating">
					{{item.Name2}}
				</div>
				<div>
					<input ng-if="item.updating" ng-model="item.tempName2" />
				</div>
			</td>
			<td>
				<a ng-if="!item.updating" href="javascript:void(0);" ng-click="changeToUpdateMode(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-edit fa-lg"></i></a>
				<a ng-if="!item.updating" href="javascript:void(0);" ng-click="remove(item)" class="btn btn-xs btn-default" style="color: #f55972;"><i class="fa fa-times fa-lg"></i></a>
				<a ng-if="item.updating" href="javascript:void(0);" ng-click="save(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-save fa-lg"></i></a>
				<a ng-if="item.updating" href="javascript:void(0);" ng-click="cancel(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-refresh fa-lg"></i></a>
			</td>
		</tr>
	</table>
	<div id="paging">
		<ul class="pagination pull-right">
			<li ng-click="loadPage(1)" class="{{page==1?'disabled':''}}">
				<a href="javascript:void(0);">Trang đầu</a>
			</li>
			<li ng-repeat="itemPage in listPage" class="{{page==itemPage?'active':''}}"
				ng-click="loadPage(itemPage)">
				<a href="javascript:void(0);">{{itemPage}}</a>
			</li>
			<li ng-click="loadPage(totalPage)" class="{{page==totalPage?'disabled':''}}">
				<a href="javascript:void(0);">Trang cuối</a>
			</li>
		</ul>
	</div>
</div>
<script>
</script>