﻿@model VNCApp.Database.Tips.Tips.Tip

@{ 
    ViewBag.Title = "VNC";
    Layout = null;
}
<html>
<head>
    <title>VNCApplication</title>
    <meta property="fb:app_id" content="132869150705829" />
    @*<meta property="al:android:url" content="http://onlineapi.site/applink/tips/@(Model.ID)" />*@
	<meta property="al:android:url" content="http://vnc.iduhoc.vn/applink/tips/@(Model.ID)" />
    <meta property="al:android:package" content="com.team500ae.vncapplication" />
    <meta property="al:android:app_name" content="iDuhoc" />
    <meta property="al:web:should_fallback" content="false" />
    <meta http-equiv="refresh" content="0;url=http://play.google.com/store/apps/details?id=com.team500ae.vncapplication" />
    @if (Model != null)
    {
        @*<meta property="og:url" content="http://onlineapi.site/applink/tips/@(Model.ID)" />*@
		<meta property="og:url" content="http://vnc.iduhoc.vn/applink/tips/@(Model.ID)" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@Model.Title" />
        <meta property="og:image" content="@Model.Thumbnail" />
    }
</head>
<body>
    Redirecting...
</body>
</html>