﻿@using VNCApp.Database.User;
@model User

<div style="margin:0;padding:0">
    <div class="m_-710109272513573200mail-container" style="background-color:#b3e5fc;min-height:800px">
        <div class="m_-710109272513573200mail-content" style="margin-left:20%;margin-right:20%;background-color:white">
            <div class="m_-710109272513573200header-mail" style="padding-top:15px;padding-left:5%;padding-right:5%">
                <div style="float:left;height:72px;display:table"><span style="font-weight:bold;color:#2584f0;margin-left:10px;vertical-align:middle;display:table-cell">iDuhoc.vn</span></div>
            </div>
            <br style="clear:both">
            <hr style="background-color:#b3e5fc;border:medium none;height:2px;margin-top:15px;margin-bottom:15px;float:none;margin-left:5%;margin-right:5%">
            <div class="m_-710109272513573200body-mail" style="color:#757575;text-align:justify;padding-left:5%;padding-right:5%">
                <p>Xin chào:    <span style="color:#f94161;font-weight:bold">@Model.FullName</span></p>
                <p>Cảm ơn bạn đã kích hoạt tài khoản.</p>
                <p>Nếu có bất kỳ ý kiến, thắc mắc nào, bạn vui lòng gửi thư qua địa chỉ </p>
                <a href="mailto:contact@iduhoc.vn">contact@iduhoc.vn</a>
                <p style="padding-right:75%;font-weight:bold">Trân trọng,</p>
                <p style="padding-right:75%;padding-bottom:20px;font-weight:bold">Ban Quản trị.</p>
                <div class="yj6qo"></div>
                <div class="adL"> </div>
            </div>
            <div class="m_-710109272513573200footer-mail adL" style="background-color:white"></div>
        </div>
    </div>
</div>