﻿@using BaseLibrary.Utils
@using VNCApp.Database.User

@model User


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us" id="lock-page">
<head>
    <meta charset="utf-8">
    <title> Đổi mật khẩu</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link href="~/Content/body.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet">
    <link href="~/Content/smart-admin/bootstrap.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link href="~/Areas/admin/css/smartadmin-production-plugins.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />
    <link href="~/Areas/admin/css/smartadmin-production.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />
    <link href="~/Areas/admin/css/smartadmin-skins.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- SmartAdmin RTL Support -->
    <link href="~/Areas/admin/css/smartadmin-rtl.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- We recommend you use "your_style.css" to override SmartAdmin
    specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link href="~/Areas/admin/css/demo.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- page related CSS -->
    <link href="~/Areas/admin/css/lockscreen.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

</head>

<body>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->

        <div class="lockscreen animated flipInY">
            <div class="logo">
                <h1 class="semi-bold">iDuhoc</h1>
            </div>
            <div>
                <img src="@Model.Avartar" alt="" width="120" height="120" />
                <div>
                    <h1><i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>@Model.FullName</h1>
                    <p class="text-muted">
                        <a href="mailto:@Model.UserName">@Model.UserName</a>
                    </p>

                    <div class="input-group" style="margin-top: 5px; width: 100%;">
                        <input class="form-control" type="password" id="txtNewPassword" placeholder="Mật khẩu mới">
                    </div>
                    <div class="input-group" style="margin-top: 5px; width: 100%;">
                        <input class="form-control" type="password" id="txtConfirmNewPassword" placeholder="Xác nhận mật khẩu mới">
                    </div>
                    <div class="button-group" style="margin-top: 5px; width: 100%;">
                        <button class="btn btn-primary pull-right" onclick="changePassword.change()">Đổi mật khẩu</button>
                    </div>
                    <div style="clear:both; margin-bottom: 10px;"></div>
                </div>

            </div>
        </div>

    </div>
    <script src="~/Scripts/jquery/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery/jquery-ui.min.js"></script>
    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/Scripts/smart-admin/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/smart-admin/bootstrap.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/Scripts/smart-admin/app.min.js"></script>
    <script src="~/Static/js/mllibrary.js"></script>
    <script src="~/Static/js/notification/SmartNotification.min.js"></script>
    <script src="~/Static/js/notification/notify.js"></script>

    <script>
        var changePassword = {
            change: function () {
                var newPassword = $("#txtNewPassword").val();
                if (newPassword === "") {
                    alertSmallBox("Vui lòng nhập mật khẩu mới", "error");
                    return;
                }
                var confirmNewPassword = $("#txtConfirmNewPassword").val();
                if (newPassword != confirmNewPassword) {
                    alertSmallBox("Xác nhận mật khẩu không trùng khớp", "error");
                    return;
                }
                AJAXFunction.CallAjax("POST", "/api/user/", "change_password_token", { id: "@Model.UserName", newPassword: newPassword, token: "@Model.ResetPasswordToken" }, function (data) {
                    debugger;
                    if (data.IsTrue) {
                        alertSmallBox("Đổi mật khẩu thành công", "success");
                    }
                    else {
                        alertSmallBox(data.Message, "error");
                    }
                });
            }
        }
    </script>
    <div class="modalloading">
        <div style="margin: auto auto">
            <img src="~/Resources/Images/loading.gif" style="width: 80px;" /> <br />
            Đang xử lý
        </div>

    </div>
    <div id="modal-area"></div>
    <style>
        body {
            background: url(/Resources/Images/site/bg.jpg) fixed no-repeat center center !important;
            -webkit-background-size: cover !important;
            background-size: cover !important;
        }
    </style>
</body>
</html>