﻿@using BaseLibrary.Utils
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" id="lock-page">
<head>
    <meta charset="utf-8">
    <title>Token không tồn tại hoặc đã hết hạn</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link href="~/Content/body.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet">
    <link href="~/Content/smart-admin/bootstrap.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link href="~/Areas/admin/css/smartadmin-production-plugins.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />
    <link href="~/Areas/admin/css/smartadmin-production.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />
    <link href="~/Areas/admin/css/smartadmin-skins.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- SmartAdmin RTL Support -->
    <link href="~/Areas/admin/css/smartadmin-rtl.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- We recommend you use "your_style.css" to override SmartAdmin
    specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link href="~/Areas/admin/css/demo.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- page related CSS -->
    <link href="~/Areas/admin/css/lockscreen.min.css?@(ConvertUtils.DateTimeToTimeMilisecond(DateTime.Now))" rel="stylesheet" />

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

</head>

<body>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->

        <div class="lockscreen animated flipInY">
            <div class="logo">
                <h1 class="semi-bold"> iDuhoc</h1>
            </div>
            <div>
                <div>
                    <h1>Token không tồn tại hoặc đã hết hạn</h1>
                    <hr class="simple" />
                </div>

            </div>
        </div>

    </div>
    <script src="~/Scripts/jquery/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery/jquery-ui.min.js"></script>
    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/Scripts/smart-admin/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/smart-admin/bootstrap.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/Scripts/smart-admin/app.min.js"></script>
    <script src="~/Scripts/mllibrary.js"></script>
    <script src="~/Scripts/notification/SmartNotification.min.js"></script>

    <style>
        body {
            background: url(/Resources/Images/site/bg.jpg) fixed no-repeat center center !important;
            -webkit-background-size: cover !important;
            background-size: cover !important;
        }
    </style>
</body>
</html>