﻿@using BaseLibrary.Common
@model VNCApp.Database.Question.Question
<div ng-controller="createQuestionController" id="createQuestionController" data-question="@(Model?.Serialize() ?? "{}")">

    <div class="alert alert-info fade in">
        <strong>@(Model == null ? "TẠO MỚI CÂU HỎI" : "CHỈNH SỬA CÂU HỎI")</strong>
    </div>
    <form class="smart-form" id="add-question-form" ng-validate="validationOptions">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Tiêu đề</strong></label>
                    <label class="input">
                        <input type="text" id="txtTitle" name="title" placeholder="Tiêu đề câu hỏi" maxlength="150" ng-model="question.Title">
                    </label>
                    <label class="note">Nhập tối đa 250 ký tự</label>
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Loại câu hỏi</strong></label>
                    <label class="input">
                        <input type="text" id="txtType" name="type" placeholder="Loại câu hỏi (Public/Private)" maxlength="150" ng-model="question.Type">
                    </label>
                </section>
                <hr class="simple" />

                <section>
                    <label class="label"><strong>Nội dung CÂU HỎI</strong></label>
                    <label class="textarea">
                        <textarea name="content" id="txtContent" placeholder="Nhập nội dung chi tiết CÂU HỎI" maxlength="500" rows="10" ng-model="question.Content"></textarea>
                    </label>
                    <label class="note">Nhập tối đa 500 ký tự</label>
                </section>
                <hr class="simple" />

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="well padding-10" style="margin: 10px;">
                <section>
                    <label class="label"><strong>Nội dung câu TRẢ LỜI</strong></label>
                    <label class="textarea">
                        <textarea name="answer" id="txtAnswer" placeholder="Nhập nội dung chi tiết câu TRẢ LỜI" maxlength="2000" rows="20" ng-model="question.Answer"></textarea>
                    </label>
                </section>
            </div>
        </div>
        <footer>
            <button class="btn btn-success" ng-click="submit()">Lưu</button>
        </footer>
    </form>
</div>
<script>
    function selectFile(selector) {
        var scope = angular.element($("#add-question-form")).scope();
        scope.selectFile(selector);
    }
    $(document).ready(function () {
        var scope = angular.element("#createQuestionController").scope();
        scope.question = $("#createQuestionController").data("question");
    });
</script>
<style>
    .bootstrap-tagsinput input {
        border: none !important;
    }

    .bootstrap-tagsinput .tag {
        display: inline-block;
        color: #FFF;
        line-height: 14px;
    }

    .bootstrap-tagsinput span[data-role="remove"] {
        width: 17px !important;
        height: 17px !important;
    }
</style>