﻿@model dynamic

@{
    Layout = null;
}

<div ng-controller="questionController" ng-init="loadListQuestionPage(1)">
    <a href="#/admin/mgrquestion/create" class="btn btn-default pull-right">Tạo mới</a>
	<div class="input-group">
        <input class="form-control" placeholder="Search for" ng-model="keyword" ng-change="loadListQuestionPage(1)" ng-model-options="{debounce: 750}">
	</div>
    <table class="table table-bordered table-responsive" ng-init="type=1">
        <tr>
            <th width="2%">No</th>
            <th width="6%">Loại câu hỏi</th>
            <th width="25%">Câu hỏi</th>
            <th>Câu trả lời</th>
            <th width="6%">Người gửi</th>
            <th width="6%">Ngày gửi</th>
            <th width="8%">Thao tác</th>
        </tr>
        @*<tr>
            <td></td>
            <td>
                <div class="input-group"  style="width: 100%;">
                    <input class="form-control" required ng-model="search.Type">
                </div>  
            </td>
            <td>
                <div class="input-group"  style="width: 100%;">
                    <input class="form-control" required ng-model="search.Title">
                </div>  
            </td>
            <td>
                <div class="input-group"  style="width: 100%;">
                    <input class="form-control" required ng-model="search.Answer">
                </div> 
            </td>
            <td>
                <div class="input-group"  style="width: 100%;">
                    <input class="form-control"  required ng-model="search.CreatedBy">
                </div> 
            </td>
            <td></td>
            <td></td>
            
        </tr>*@
        <tr ng-repeat="item in data">
            <td>{{$index +1}}</td>
            <td>{{item.Type}}</td>
            <td>{{item.Title}}</td>
            <td>{{item.Answer}}</td>
            <td>{{item.CreatedBy}}</td>
            <td>{{item.CreatedDate.getPostTime()}}</td>
            <td>
                <a href="javascript:void(0);" ng-click="editQuestion(item)" class="btn btn-xs btn-default" style="color: #2998ea;"><i class="fa fa-edit fa-lg"></i></a>
                <a href="javascript:void(0);" ng-click="deleteQuestion(item)" class="btn btn-xs btn-default" style="color: #f55972;"><i class="fa fa-times fa-lg"></i></a>
            </td>
        </tr>
    </table>
    <div id="paging">
        <ul class="pagination pull-right">
            <li ng-click="loadListQuestionPage(1)" class="{{page==1?'disabled':''}}">
                <a href="javascript:void(0);">Trang đầu</a>
            </li>
            <li ng-repeat="itemPage in listPage" class="{{page==itemPage?'active':''}}"
                ng-click="loadListQuestionPage(itemPage)">
                <a href="javascript:void(0);">{{itemPage}}</a>
            </li>
            <li ng-click="loadListQuestionPage(totalPage)" class="{{page==totalPage?'disabled':''}}">
                <a href="javascript:void(0);">Trang cuối</a>
            </li>
        </ul>
    </div>
</div>
<script>
</script>